@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.bg-color-2{
    background-color: #289BDE;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(66, 58, 58, 0), rgba(153, 116, 116, 0.75), rgba(103, 89, 89, 0));
} 